<h1>Your listings</h1>

<%if user_signed_in? %>
<div class="index-page">
  <div class="bookshelf">
    <% @listings.each do |listing| %>
    <%if current_user.id == listing.user_id %>
      <div class="book-card bg-light">
        <div class="book-description">
          <h4> <%= listing.title %></h4>
          <p> Description: <%= listing.description %></p>
        </div>
        <div class="index-page-nav-links">
            <button><%= link_to "show", listing %></button>
        </div>
      </div>
    <% end %>
    <% end %>
    <% end %>

  </div>
</div>