<div class="body2">
<div class="container">
  <div class="landing-page-message-container">
    <h1 class="landing-page-message">Get competitive personal loans</h1>
  </div>
  
  <div class="sign-up-button">
    <% unless user_signed_in? %>
      <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %>
  </div>
</div>
</div>