<p>
  <strong>Interest:</strong>
  <%= offer.interest %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= offer.description %>
</p>

<p>
  <%= link_to 'Edit your offer', edit_listing_offer_path(@listing, offer.id) %>
  <%= link_to 'Destroy your Offer', [offer.listing, offer],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>