// Place all the styles related to the listing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border2 {
    border-style: solid;
    border-width: 1px;
    margin: 20px;
  }
  
  .border3{
    border-style: solid;
    border-width: 1px;
    margin: 20px;
    border-color: black
  }
  
  
  .texta {
    text-align: center
  }

.new-listing-container {
  // display: flex;
  margin: 0 30%;
}

input[type="text"] {
  width: 300px;
  height: 40px;
}

input[type="text_area"] {
  width: 300px;
  height: 40px;
}
