<div class="body2">
<div class="texta">
<div class="thank-you-for-your-payment">
<br><br><br><br><br><br><br>
  <h2>Thanks, you paid AU <%= number_to_currency((@amount).fdiv(100)) %> !</h2>
</div>
</div>
<%= link_to 'Back', welcome_index_path %>

</div>